<%= form_for(@school, html: {class: 'form-horizontal'}) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :board, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :board %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, class: "control-label"  %>
    <div class="controls">
      <%= f.text_field :category %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :school_type, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :school_type %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :city %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :province, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :province %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :postal_code %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :grade_range, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :grade_range %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :has_ecs, class: "control-label" %>
    <div class="controls">
      <%= f.check_box :has_ecs %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <div class="actions">
        <%= f.submit class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
