<p id="notice"><%= notice %></p>

<p>
  <b>Board:</b>
  <%= @school.board %>
</p>

<p>
  <b>Category:</b>
  <%= @school.category %>
</p>

<p>
  <b>School type:</b>
  <%= @school.school_type %>
</p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Address:</b>
  <%= @school.address %>
</p>

<p>
  <b>City:</b>
  <%= @school.city %>
</p>

<p>
  <b>Province:</b>
  <%= @school.province %>
</p>

<p>
  <b>Postal code:</b>
  <%= @school.postal_code %>
</p>

<p>
  <b>Grade range:</b>
  <%= @school.grade_range %>
</p>

<p>
  <b>Has ecs:</b>
  <%= @school.has_ecs %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
