<h1>Listing field_trips</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @field_trips.each do |field_trip| %>
  <tr>
    <td><%= field_trip.name %></td>
    <td><%= field_trip.school_name %></td>
    <td>
      <%= link_to 'Show', field_trip, :class => 'btn btn-mini btn-primary' %>
      <%= link_to 'Edit', edit_field_trip_path(field_trip), :class => 'btn btn-mini btn-info' %>
      <%= link_to 'Destroy', field_trip, :class => 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_field_trip_path, :class => 'btn btn-primary' do %>
  <i class="icon-plus icon-white"> </i>New Field Trip
<% end %>
