<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field_trip.name %>
</p>

<p>
  <b>School:</b>
  <%= @field_trip.school %>
</p>


<%= link_to 'Edit', edit_field_trip_path(@field_trip) %> |
<%= link_to 'Back', field_trips_path %>
